# Environment variables
.env

# Node modules
node_modules/

# Logs
logs/
*.log

# migrations
migrations/

# SQLite DB files
*.db
*.sqbpro

# OS junk
.DS_Store
Thumbs.db

# VS Code
.vscode/

add_user.js
CoPilot Advice.docx
database.sqlite
ssh.txt

*.docx
*.doc

Doc/
public/js/admin-allocated-tee-timesbak2026-06-13.txt
public/js/user-reports-bak2026-06-10.js
public/two-week-report-bak2026-06-13.txt
public/user-reports-bak2026-06-10.html
public/user-reports-bak2026-06-12.txt
routes/admin-
routes/twoWeekReportBak2026-06-13.txt
services/buildTwoWeekReportDataBak2026-06-13.txt